html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 13pt; */
}

h1 {
    margin-left: 60px;
}

nav a {
    color: lightblue;
    text-decoration: none;
    padding: 6px;
    margin: auto;
    display: inline-block;
}

nav a:hover {
    color: lightskyblue;
    border-bottom: 1px solid;
}

nav a:active {
    font-size: 102%;
    display: inline;
    
    
}

.container {
    padding: 16px;
    position: relative;
    text-align: center;
    color: #f2f2f2;
    background: blue url("./images/1597766242662.jpeg");
    background-size: cover;
}

header {
    display: flex;
    padding: 20px;
    background-color :rgb(94, 93, 93);
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    padding: 30;
}

h2 {
    margin-right: 14px;
    text-align: right;
    width: 300px;
}

section > div  {
    padding: 0 10px;
    border-left: 3px solid mediumblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 20px;
}

section > h2 > ul {
    display: grid;
}

article {
    display: flex;
    width: 50%;
    background-color: lightgray;
    border: 3px solid lightblue;
    height: 200px;
    overflow: hidden;
}

article > img {
    width: 100%;
    transition: all 250ms ease;
}

article:hover img {
    transform: scale(1.1);
}

article:nth-child(1){
width: 100%;
height: 290px;
}

ul {
    display: inline;
    padding: 0 13px;
}